<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/logo.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/style_inicio.css">
</head>

<body>
  <br>
   <!-- Contenido principal del documento -->
 <main>

    <!-- Cartas-->
<div class="container col-md-10 mt-4">
    <div class="row row-cols-1 row-cols-md-3 gx-4 gy-4">
        <!-- Pedidos entregados-->
        <div class="col mb-4">
            <div class="card bg-success border-dark cabezera">
                <div class="card-header bg-transparent border-light text-white">Pedidos entregados ✅</div>
                <div class="card-body text-white">
                    <h5 class="card-title">Pedidos entregados:</h5>
                    <p class="card-text" id="numero"></p>
                </div>
                <div class="card-footer bg-transparent border-light text-white">Booksadre</div>
            </div>
        </div>
        <!-- Ganancias de las hamacas-->
        <div class="col mb-4">
            <div class="card bg-success border-dark cabezera">
                <div class="card-header bg-transparent border-light text-white">Ganancias de ventas 💵</div>
                <div class="card-body text-white">
                    <h5 class="card-title">Ganancias totales:</h5>
                    <p class="card-text" id="ganancias"></p>
                </div>
                <div class="card-footer bg-transparent border-light text-white">Booksadre</div>
            </div>
        </div>
    </div>
</div>
 
     
    <!-- Componente Modal para guardar un registro -->
    <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalTitle"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Formulario para crear o actualizar un registro -->
                <form id="saveForm">
                    <div class="modal-body row g-3">
                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="number" id="idPedido" name="idPedido" class="invisible">
                        <div class="col-sm-12 col-md-6">
                            <label for="estado" class="form-label">Estado</label>
                            <select id="estado" name="estado" class="form-select" required>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer col-sm-12 col-md-12 col-lg-12">
                        <button type="reset" class="btn btn-outline-dark">Cancelar</button>
                        <button type="submit" class="btn btn-outline-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
     
    <!-- Modal de detalle de pedido -->
    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table align-middle table-striped table-borderless">
                            <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
                            <thead>
                                <tr>
                                    <td colspan="6" id="rowsFound"></td>
                                </tr>
                                <tr>
                                    <th>Foto</th>
                                    <th>Nombre del producto</th>
                                    <th>Cantidad comprada</th>
                                    <th>Precio total</th>
                                </tr>
                            </thead>
                            <!-- Cuerpo de la tabla para mostrar un registro por fila -->
                            <tbody id="tabla_detalle"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <!-- Título del contenido principal -->
  <h3 id="mainTitle"></h3>
  <div class="row">
    <!-- Formulario de búsqueda -->
    <form class="col-sm-12 col-md-6" id="searchForm">
        <div class="row">
            <div class="col-6">
                <input type="search" class="form-control" name="search" placeholder="Buscar" required>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-search"></i>
                </button>
                <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                    <i class="bi bi-x-square-fill"></i>
                </button>
            </div>
        </div>
    </form>
    <div class="col-sm-12 col-md-6 text-end">
        <!-- Botón para abrir una caja de diálogo al momento de crear un nuevo registro -->
        <button type="button" class="btn btn-primary" onclick="openCreate()">
            <i class="bi bi-plus-square-fill"></i>
        </button>
    </div>
</div>

      <!-- Columna para la tabla-->
      <div class="container col-md-10">
        <!-- Tabla para mostrar los registros existentes -->
        <table class="table table-hover">
            <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
            <thead>
                <tr>
                    <td colspan="6" id="rowsFound"></td>
                </tr>
                <tr>
                    <th>FOTO</th>
                    <th>CLIENTE</th>
                    <th>DIRECCIÓN DEL PEDIDO</th>
                    <th>FECHA DE PEDIDO</th>
                    <th>ESTADO DE PEDIDO</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla para mostrar un registro por fila -->
            <tbody id="tabla_pedidos"></tbody>
        </table>
    </div>
     
     
    <!-- Componente Modal para guardar un registro -->
    <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalTitle"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Formulario para crear o actualizar un registro -->
                <form id="saveForm">
                    <div class="modal-body row g-3">
                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="number" id="idPedido" name="idPedido" class="invisible">
                        <div class="col-sm-12 col-md-6">
                            <label for="estado" class="form-label">Estado</label>
                            <select id="estado" name="estado" class="form-select" required>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer col-sm-12 col-md-12 col-lg-12">
                        <button type="reset" class="btn btn-outline-dark">Cancelar</button>
                        <button type="submit" class="btn btn-outline-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
     
    <!-- Modal de detalle de pedido -->
    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table align-middle table-striped table-borderless">
                            <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
                            <thead>
                                <tr>
                                    <td colspan="6" id="rowsFound"></td>
                                </tr>
                                <tr>
                                    <th>Foto</th>
                                    <th>Nombre del producto</th>
                                    <th>Cantidad comprada</th>
                                    <th>Precio total</th>
                                </tr>
                            </thead>
                            <!-- Cuerpo de la tabla para mostrar un registro por fila -->
                            <tbody id="tabla_detalle"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
<!-- Llamada al framework y librería de mensajes -->
<script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
<!-- Llamada al controlador general de la aplicación -->
<script type="text/javascript" src="../../controllers/utils/components.js"></script>
<!-- Llamada al controlador del sitio privado -->
<script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/admin/pedido.js"></script>
</body>
</html>
