    body{
    background-image: url(https://png.pngtree.com/background/20230519/original/pngtree-the-shelves-of-a-bookstore-are-packed-with-lots-of-books-picture-image_2651084.jpg);
    font-family: sans-serif;
        margin: 0;
        padding: 20px;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .container1 {
        max-width: 400px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 5px;
        padding: 40px;
    } 

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .input-group {
        margin-bottom: 15px;
    }
    
    label {
        display: block;
        margin-bottom: 5px;
    }
    
    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    button[type="submit"] {
        background-color: #333;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }
    
    a {
        text-align: center;
        display: block;
        margin-top: 10px;
        color:#333;
    }
 
    
   
    
    


  
    
   