body {

    background-color: #FFFF;

}
 
.menu {

    text-align: left;

}
 
.bg-body-tertiary {

    --bs-bg-opacity: 1;

    background-color: #0D1B2A !important;

}
 
.navbar {

    --bs-navbar-brand-color: rgb(255 255 255);

}
 
.navbar-brand {

    display: flex;

    position: relative;

    align-items: center;

}
 
.navbar-brand img {

    width: 20%;

    height: 20%;

}
 
.navbar-nav .nav-item {

    margin-top: 10px;

}
 
.navbar-toggler-icon {

    background-color: rgb(255, 255, 255);

}
 
button.navbar-toggler {

    background-color: white;

    margin-left: auto; /* Mueve el bot칩n hacia la derecha */

}
 
.img {

    width: 90%;

    height: 55%;

}
 
.circle-container {

    display: flex;

    justify-content: center;

    align-items: flex-start;

    height: 25%;

}
 
.circle {

    width: 150px;

    height: 150px;

    background-color: #0D1B2A;

    border-radius: 50%;

    overflow: hidden;

}
 
.circle img {

    width: 100%;

    height: 100%;

    object-fit: cover;

}
 
.nav-item {

    text-align: center;

    align-items: flex-start;

}
 
.Editar{

    text-align: center;

    align-items: flex-start;

    border-color: transparent;

    border-radius: 0%;

}
 
.table i {

    font-size: 35px; /* Tama침o de los iconos */

    color: #415A77; /* Color de los iconos */

    cursor: pointer; /* Cambia el cursor al pasar sobre los iconos */

}
 
.popup {

    display: none;

    position: fixed;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    border: 1px solid #ccc;

    background-color: #fff;

    padding: 20px;

    z-index: 1000;

}
 
.popup-content {

    text-align: center;

}
 
.close {

    color: #aaa;

    float: right;

    font-size: 28px;

    font-weight: bold;

}
 
.close:hover,

.close:focus {

    color: black;

    text-decoration: none;

    cursor: pointer;

}
 
#piechart-container {

  display: flex;

  justify-content: center;

}
 
footer {

    background-color: #415a77;

  }
 
  .navbar-nav .nav-link {

    color: white; /* Cambia el color del texto a blanco */

}
 
.navbar-nav .nav-link i {

    color: white; /* Cambia el color de los iconos a blanco */

}
 
.navbar-nav {

    margin-left: auto; /* Asegura que el contenido se alinee a la derecha */

}

/*CSS DE HISTORIAL*/

.star-rating {
    display: inline-flex;
    flex-direction: row-reverse; /* Direcci칩n de derecha a izquierda para la selecci칩n */
    justify-content: flex-end; /* Alinear al inicio para mantener las estrellas a la izquierda */
  }
  
  .star-rating input[type=radio] {
    display: none;
  }
  
  .star-rating label {
    font-size: 2em;
    color: #ddd;
    cursor: pointer;
  }
  
  .star-rating input[type=radio]:checked ~ label {
    color: #f5c518;
  }
  
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color: #f5c518;
  }
  
  .modal-body .img-container {
    width: 100%;
    height: 0;
    padding-top: 100%; /* Aspect ratio 1:1 (square) */
    position: relative;
    overflow: hidden;
    border-radius: 5px;
  }
  .modal-body .img-container img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
  }