<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/logo.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../resources/css/style_inicio_public.css">
    <link rel="stylesheet" href="../../resources/css/valoraciones.css">
</head>

<body>
    <br>
    <!-- Contenido principal del documento -->
    <main>
        <!-- Título del contenido principal -->
        <h4 id="mainTitle"></h4>
        <!-- Componente Horizontal Card para mostrar el detalle de un producto -->
        <div class="mb-3" id="detalle">
            <div class="row">
                <div class="col-md-4">
                    <!-- Se muestra la imagen del producto -->
                    <img id="imagenProducto" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" id="nombreProducto"></h5>
                        <p class="card-text" id="descripcionProducto"></p>
                        <p class="card-text">Precio unitario (US$) <b id="precioProducto"></b></p>
                        <p class="card-text">Existencias <b id="existenciasProducto"></b></p>
                        <!-- Formulario para agregar el producto al carrito de compras -->
                        <form class="row" id="shoppingForm">
                            <!-- Campo oculto para asignar el id del producto -->
                            <input type="number" class="d-none" id="idProducto" name="idProducto">
                            <div class="col-6">
                                <input type="number" id="cantidadProducto" name="cantidadProducto" min="1"
                                    class="form-control" placeholder="Ingrese cantidad" required>
                            </div>
                            <div class="col-6 align-self-end">
                                <button type="submit" class="btn btn-primary">
                                    <i class="bi bi-cart-plus-fill"></i> Comprar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h5>Comentarios</h5>
                <div class="col-md-8">
                    <div id="comentariosCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" id="comentarios">
                            <!-- Los comentarios se cargarán aquí -->
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#comentariosCarousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#comentariosCarousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Formulario para agregar comentarios -->
                    <div class="">
                        <div class="card-header">Agregar Comentario</div>
                        <div class="card-body">
                            <form id="comentarioForm">
                                <div class="mb-3">
                                    <label for="comentario" class="form-label">Comentarios:</label>
                                    <textarea class="form-control" id="comentario" name="comentario" rows="3"
                                        placeholder="Escribe tu comentario"></textarea>
                                </div>
                                <div class="rating-container">
                                    <div class="rating">
                                        <input type="radio" name="star" id="star5" value="5"><label for="star5"></label>
                                        <input type="radio" name="star" id="star4" value="4"><label for="star4"></label>
                                        <input type="radio" name="star" id="star3" value="3"><label for="star3"></label>
                                        <input type="radio" name="star" id="star2" value="2"><label for="star2"></label>
                                        <input type="radio" name="star" id="star1" value="1"><label for="star1"></label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio público -->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/public/detail.js"></script>
    <!-- Estrellas-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--Estrellas js-->
    <script type="text/javascript" src="../../controllers/public/estrellas.js"></script>
</body>

</html>