<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/logo.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../resources/css/style_inicio_public.css">
</head>

<body>
    <br>
    <!-- Contenido principal del documento -->
    <main>
        <!-- Título del contenido principal -->
        <h4 id="mainTitle"></h4>
        <!-- Componente Horizontal Card para mostrar el detalle de un producto -->
        <div class="mb-3" id="detalle">
            <div class="row">
                <div class="col-md-4">
                    <!-- Se muestra la imagen del producto -->
                    <img id="imagenProducto" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" id="nombreProducto"></h5>
                        <p class="card-text" id="descripcionProducto"></p>
                        <p class="card-text">Precio unitario (US$) <b id="precioProducto"></b></p>
                        <p class="card-text">Existencias <b id="existenciasProducto"></b></p>
                        <!-- Formulario para agregar el producto al carrito de compras -->
                        <form class="row" id="shoppingForm">
                            <!-- Campo oculto para asignar el id del producto -->
                            <input type="number" class="d-none" id="idProducto" name="idProducto">
                            <div class="col-6">
                                <input type="number" id="cantidadProducto" name="cantidadProducto" min="1" class="form-control" placeholder="Ingrese cantidad"
                                    required>
                            </div>
                            <div class="col-6 align-self-end">
                                <button type="submit" class="btn btn-primary">
                                    <i class="bi bi-cart-plus-fill"></i> Comprar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <!-- Lista de comentarios -->
                    <div class="card">
                        <div class="card-header">Comentarios</div>
                        <div class="card-body">
                            <!-- Aquí puedes agregar los comentarios -->
                            <div class="media">
                                <img src="avatar.jpg" class="mr-3" alt="Avatar">
                                <div class="media-body">
                                    <h5 class="mt-0">Juan Pérez</h5>
                                    ¡Excelente producto! Me encanta.
                                    <div class="rating">
                                        <!-- Estrellas para calificar -->
                                        <span class="star">★</span>
                                        <span class="star">★</span>
                                        <span class="star">★</span>
                                        <span class="star">★</span>
                                        <span class="star">★</span>
                                    </div>
                                </div>
                            </div>
                            <!-- ...otros comentarios... -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Formulario para agregar comentarios -->
                    <div class="">
                        <div class="card-header">Agregar Comentario</div>
                        <div class="card-body">
                            <form>
                                <div class="mb-3">
                                    <label for="nombre" class="form-label">Nombre:</label>
                                    <input type="text" class="form-control" id="nombre" placeholder="Tu nombre">
                                </div>
                                <div class="mb-3">
                                    <label for="comentario" class="form-label">Comentarios:</label>
                                    <textarea class="form-control" id="comentario" rows="3"
                                        placeholder="Escribe tu comentario"></textarea>
                                </div>
                                <!-- Mover la sección de calificación arriba del botón -->
                                <p class="clasificacion">
                                    <input id="radio1" type="radio" name="estrellas" value="1">
                                    <label for="radio1">★</label>
                                    <input id="radio2" type="radio" name="estrellas" value="2">
                                    <label for="radio2">★</label>
                                    <input id="radio3" type="radio" name="estrellas" value="3">
                                    <label for="radio3">★</label>
                                    <input id="radio4" type="radio" name="estrellas" value="4">
                                    <label for="radio4">★</label>
                                    <input id="radio5" type="radio" name="estrellas" value="5">
                                    <label for="radio5">★</label>
                                  </p>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio público -->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/public/detail.js"></script>
    <!-- Estrellas-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--Estrellas js-->
    <script type="text/javascript" src="../../controllers/public/estrellas.js"></script>
</body>

</html>