<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title>Promociones</title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/logo.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <link rel="stylesheet" href="../../resources/css/style_inicio_public.css">
  <link rel="stylesheet" href="../../resources/css/style_pros0.css">

</head>

<body>
<!-- Menú de navegación -->
<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
  <div class="container">
      <a class="navbar-brand" href="index.html"><img src="../../resources/img/logo.png" height="50" alt="CoffeeShop"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <li class="nav-item">

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto text-end">
      <a class="nav-link" href="index.html"><i class="bi bi-shop"></i> Catálogo</a>
     <a class="nav-link" href="cart.html"><i class="bi bi-cart"></i> Carrito</a>
     <a class="nav-link" href="login.html"><i class="bi bi-box-arrow-right"></i> Iniciar sesión</a>
</div>
</div>
  </div>
</nav>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <div class="container bg-custom-color d-flex justify-content-between align-items-center p-4">
    <h2 class="text-center mx-auto" style="color: #434343;">Promociones</h2>
    <h2 style="color: #ffffff;">........</h2>
  </div>
  <br>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="../../resources/img/1.png" class="img-fluid" alt="..." style="max-width: 650px; max-height: 650px;">
      </div>
      <div class="col-lg-6">
        <div class="bg-white p-3 text-start mb-3" style="width: 600px; position: relative;">
          <p>Vigencia:</p>
          <p>Desde: Miércoles 14 de Febrero de 2024</p>
          <p>Hasta: Viernes 16 de Febrero de 2024</p>
          <p>Promoción válida en booksadre.com.sv</p>
          <div class="btn-wrapper">
            <div class="btn-container">
              <button class="btn btn-primary btn-sm">Ver productos</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="../../resources/img/2.png" class="img-fluid" alt="..." style="max-width: 650px; max-height: 650px;">
      </div>
      <div class="col-lg-6">
        <div class="bg-white p-3 text-start mb-3" style="width: 600px; position: relative;">
          <p>Vigencia:</p>
          <p>Desde: Martes 06 de Febrero de 2024</p>
          <p>Hasta: Lunes 19 de Febrero de 2024</p>
          <p>Promoción válida en booksadre.com.sv</p>
          <div class="btn-wrapper">
            <div class="btn-container">
              <button class="btn btn-primary btn-sm">Ver productos</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="../../resources/img/3.png" class="img-fluid" alt="..." style="max-width: 650px; max-height: 650px;">
      </div>
      <div class="col-lg-6">
        <div class="bg-white p-3 text-start mb-3" style="width: 600px; position: relative;">
          <p>Vigencia:</p>
          <p>Desde: Martes 06 de Febrero de 2024</p>
          <p>Hasta: Lunes 19 de Febrero de 2024</p>
          <p>Promoción válida en booksadre.com.sv</p>
          <div class="btn-wrapper">
            <div class="btn-container">
              <button class="btn btn-primary btn-sm">Ver productos</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="pt-4 pb-4 bg-dark text-white">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4 text-center mb-4 mb-md-0">
          <img class="img-fluid" src="../../resources/img/logo.png" alt="Logo" width="250" height="110">
          <div class="mt-2">
            <h6 class="mb-3">SÍGUENOS</h6>
            <div class="d-flex justify-content-center">
              <a href="https://web.whatsapp.com/" class="text-white me-3"><i class='bx bxl-whatsapp'></i></a>
              <a href="https://www.instagram.com/booksadre/" class="text-white me-3"><i class='bx bxl-instagram'></i></a>
              <a href="https://www.google.com/intl/es/gmail/about/" class="text-white"><i class='bx bxl-gmail'></i></a>
            </div>
          </div>
          <small class="d-block mt-3">&copy; 2017-2024</small>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
          <h6 class="mb-3">Información para el cliente</h6>
          <ul class="list-unstyled">
            <li><a class="text-decoration-none text-white" href="promociones.html">Promociones</a></li>
            <li><a class="text-decoration-none text-white" href="politica_cookies.html">Política de cookies</a></li>
            <li><a class="text-decoration-none text-white" href="quienes_somos.html">¿Quiénes somos?</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h6 class="mb-3">Gestión de cuentas</h6>
          <ul class="list-unstyled">
            <li><a class="text-decoration-none text-white" href="login.html">Mi cuenta</a></li>
            <li><a class="text-decoration-none text-white" href="signup.html">Registrarme</a></li>
            <li><a class="text-decoration-none text-white" href="recuperar_contraseñas.html">Recuperar clave</a></li>
            <li><a class="text-decoration-none text-white" href="como_comprar.html">¿Cómo comprar en línea?</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
</body>

</html>
