<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
  <!-- Título del documento -->
  <title>quienes somos</title>
  <!-- Metadatos de la página web -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
  <!-- Llamada al icono de la página web -->
  <link type="image/png" rel="icon" href="../../resources/img/logo.png">
  <!-- Llamada a las hojas de estilos del framework e iconos -->
  <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <link rel="stylesheet" href="../../resources/css/style_inicio_public.css">


</head>

<body>

  <!-- Menú de navegación -->
  <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="index.html"><img src="../../resources/img/logo.png" height="50"
          alt="CoffeeShop"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <li class="nav-item">

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto text-end">
            <a class="nav-link" href="index.html"><i class="bi bi-shop"></i> Catálogo</a>
            <a class="nav-link" href="cart.html"><i class="bi bi-cart"></i> Carrito</a>
            <a class="nav-link" href="login.html"><i class="bi bi-box-arrow-right"></i> Iniciar sesión</a>
          </div>
        </div>
    </div>
  </nav>
  <br><br><br><br><br><br>

  <div class="container bg-custom-color d-flex justify-content-between align-items-center p-4">
    <h1 class="text-center mx-auto" style="color: #434343;">¿Quiénes somos?</h1>
  </div>

  <!--Quienes somos recuadros-->
  <main>
    <div class="container py-4">
      <div class="p-5 mb-4 bg-primary-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Misión</h1>
          <p class="col-md-8 fs-4">Nuestra misión es proporcionar a nuestros clientes una amplia gama de útiles
            escolares y libros, promoviendo la educación y el
            aprendizaje a través de productos de calidad y un servicio excepcional.</p>
        </div>
      </div>

      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 bg-secondary-light rounded-3">
            <h2>Visión</h2>
            <p>Nos esforzamos por ser la librería de referencia en nuestra comunidad, siendo reconocidos por nuestra
              excelencia en productos,
              servicio al cliente y contribución al desarrollo educativo de nuestros clientes.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-secondary-light border rounded-3">
            <h2>Patrocinadores y socios</h2>
            <p>Trabajamos en colaboración con instituciones educativas, editoriales, proveedores de materiales escolares
              y empresas comprometidas con
              la educación para ofrecer productos de calidad y promover iniciativas que beneficien a nuestros clientes y
              a la comunidad en general.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="p-5 mb-4 bg-primary-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Valores</h1>
          <p class="col-md-8 fs-4">
            Excelencia: Nos comprometemos a ofrecer productos de alta calidad y servicios excepcionales en todo momento.
            <br>
            Integridad: Nos guiamos por los más altos estándares éticos y morales en todas nuestras operaciones.<br>
            Innovación: Buscamos constantemente formas de mejorar y adaptarnos a las necesidades cambiantes de nuestros
            clientes y del mercado.
          </p>
        </div>
      </div>

      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 bg-secondary-light border rounded-3t">
            <h2>Marcas</h2>
            <p>Contamos con una cuidadosa selección de marcas reconocidas por su calidad y confiabilidad en el mercado
              de útiles escolares y libros.
              Esto incluye marcas líderes en la industria que ofrecen productos innovadores y duraderos para satisfacer
              las necesidades de nuestros clientes.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-secondary-light border rounded-3">
            <h2>Clientes destacados</h2>
            <p>Nuestros clientes destacados incluyen estudiantes, padres de familia, educadores y profesionales
              interesados en la adquisición de útiles escolares,
              libros de texto, material didáctico y productos relacionados con la educación. Nos esforzamos por
              satisfacer sus necesidades y superar sus expectativas en cada interacción.</p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <br><br><br>

  <!--ADVERTENCIA DE COOKIES-->
  <div id="cookie-banner" class="cookie-banner hidden">
    <div class="cookie-content">
      <p>Utilizamos cookies para mejorar su experiencia en nuestro sitio web. Al continuar navegando por este sitio,
        usted acepta nuestro uso de cookies.</p>
      <button id="accept-cookies-btn">Aceptar</button>
    </div>
  </div>


  <!--FOOTER-->
  <footer class="pt-4 pb-4 bg-dark text-white">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4 text-center mb-4 mb-md-0">
          <img class="img-fluid" src="../../resources/img/logo.png" alt="Logo" width="250" height="110">
          <div class="mt-2">
            <h6 class="mb-3">SÍGUENOS</h6>
            <div class="d-flex justify-content-center">
              <a href="https://web.whatsapp.com/" class="text-white me-3"><i class='bx bxl-whatsapp'></i></a>
              <a href="https://www.instagram.com/booksadre/" class="text-white me-3"><i
                  class='bx bxl-instagram'></i></a>
              <a href="https://www.google.com/intl/es/gmail/about/" class="text-white"><i class='bx bxl-gmail'></i></a>
            </div>
          </div>
          <small class="d-block mt-3">&copy; 2017-2024</small>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
          <h6 class="mb-3">Información para el cliente</h6>
          <ul class="list-unstyled">
            <li><a class="text-decoration-none text-white" href="promociones.html">Promociones</a></li>
            <li><a class="text-decoration-none text-white" href="politica_cookies.html">Política de cookies</a></li>
            <li><a class="text-decoration-none text-white" href="quienes_somos.html">¿Quiénes somos?</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h6 class="mb-3">Gestión de cuentas</h6>
          <ul class="list-unstyled">
            <li><a class="text-decoration-none text-white" href="login.html">Mi cuenta</a></li>
            <li><a class="text-decoration-none text-white" href="signup.html">Registrarme</a></li>
            <li><a class="text-decoration-none text-white" href="recuperar_contraseñas.html">Recuperar clave</a></li>
            <li><a class="text-decoration-none text-white" href="como_comprar.html">¿Cómo comprar en línea?</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!---SCRIPT DE QUIENES SOMOS-->
  <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <!---SCRIPR DE COOKIES-->
  <script src="script.js"></script>
</body>

</html>