<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,723;1,723&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="../../resources/css/style_public.css">
    <link rel="stylesheet" href="../../resources/css/style_pros0.css">

    <!-- Java script -->
    <script type="text/javascript" src="../../resources/js/login_publico.js"></script>

    <style>
        /* Agregamos margen superior a login-forms */
        .login-forms {
            margin-top: 150px; /* Puedes ajustar este valor según sea necesario */
        }
    </style>
</head>

<body>
    <!-- Menú -->
    <div class="menu">
        <nav class="navbar bg-body-tertiary fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand"><img src="../../resources/img/logo.png" alt="Logo"></a>

                <ul class="nav nav-underline position-absolute top-50 start-50 translate-middle">
                    <li class="nav-item">
                        <a class="nav-link-text" href="../../views/public/Index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-text" href="#">Catálogo</a>
                    </li>
                </ul>

                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <div class="search-box">
                            <input type="text" class="form-control" placeholder="Buscar">
                            <a class="nav-link" href="#" style="--i:1;"><i class='bx bx-search-alt-2'></i></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="--i:2;"><i class='bx bxs-cart'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="--i:3;"><i class='bx bx-info-circle'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="--i:4;"><i class='bx bxs-user-circle'></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container-xl">
        <form class="login-forms" action="../../views/public/index.html">

            <img src="../../resources/img/logo_gris.png" class="img-fluid" alt="...">
            <h2 class="text-center">Registrarse</h2>
            <br>
            <p class="text-center">Comienza a disfrutar de nuestros beneficios</p>
            <br>
            <br>
            <h3 class="text-start">Información personal</h3>
            <br>
            <br>
            <div class="row g-2">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInputGrid1" placeholder="name@example.com" value="">
                        <label for="floatingInputGrid1">Nombre</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInputGrid2" placeholder="name@example.com" value="">
                        <label for="floatingInputGrid2">Apellido</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelectGrid1">
                            <option selected>Selccione su género
                            <option value="1">Masculino</option>
                            <option value="2">Femenino</option>
                        </select>
                        <label for="floatingSelectGrid1">Género</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelectGrid2">
                            <option selected>Seleccione su país</option>
                            <option value="1">El Salvador</option>
                            <option value="2">Estados Unidos</option>
                            <option value="3">Venezuela</option>
                        </select>
                        <label for="floatingSelectGrid2">País</label>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInputGrid3" placeholder="name@example.com" value="">
                        <label for="floatingInputGrid3">Número de teléfono</label>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInputGrid4" placeholder="name@example.com" value="">
                        <label for="floatingInputGrid4">Fecha de nacimiento</label>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <h3 class="text-start">Datos de inicio de sesión</h3>
            <br>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput"><i class='bx bxl-gmail'></i>    Correo Electronico</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword"><i class='bx bxs-lock-alt'></i>    Contraseña</label>
              </div>
              <br>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword"><i class='bx bxs-lock-alt'></i>    Confirmar Contraseña</label>
            </div>

            <br>
            <div class="col-12">
                <div class="form-check">
                   <input class="form-check-input" type="checkbox" id="gridCheck">
                   <label class="form-check-label text-start" for="gridCheck">
                     Acepta los términos y condiciones 
                 </label>
               </div>
             </div>
            <br>
            <br>
            <button type="button" onclick="redirectToRegistro()">Registrarse</button>
            <br>
            <br>
            <button type="button" onclick="regresar()"><i class='bx bx-arrow-back' style="color: white;"></i> Regresar</button>

        </form>
    </div>
</body>

</html>
